@import url(https://fonts.googleapis.com/css?family=Muli); .project-code{
  position: fixed;
  right: 1em;
  top: 1em;
}

 body{
   font-family: 'Avenir Next','Muli', Georgia, sans-serif;
   background-color: #F3F3F3;
   padding-bottom: 1em;
 }

.container{
  max-width: 95%;
  margin: 1.5em auto;
  background: #FFFFFF;
  box-shadow: 10px 28px 29px 0 rgba(0,0,0,0.13);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 70%;
  }
}

.header{
  background-image: linear-gradient(135deg, #FFBD3A 0%, #FF9494 100%);
}

.header__title{
  margin: 0;
  text-align: center;
  padding: 40px 0 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .header__title{
    font-size: 24px;
  }
}

.drivers-list{
  border-top: 0;
  padding: 20px 15px;

}

@media screen and (min-width: 600px) {
 .drivers-list{
   padding: 35px 40px;
 }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.nav{
  text-align: center;
}

.main-nav{
  display: inline-flex;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__item{
  display: flex;
}

.main-nav__button{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
}

.main-nav__button:hover{
  background-color: rgba(0,0,0, .15);
}

.main-nav__button--active{
  background-color: rgba(0,0,0, .1);
}

.driver-row{
  position: relative;
  margin-bottom: 15px;
  cursor: move;
  display: grid;
  grid-template-columns: 80px 95px 90px;
}

@media screen and (min-width: 400px) {
  .driver-row{
    display: table;
    width: 100%;
  }
}

.driver-row.is-moving-up{
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.driver-row.over {
  border: 1px dashed rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, .03);
}

.driver-row:last-child{
  border-bottom: 0;
}
.driver-row__item{
  display: table-cell;
  vertical-align: top;
  padding-right: 3px;
}
.driver-row__item--first{
  width: 8%;
}
.driver-row__item--second{
  width: 67px;
  padding-right: 18px;
}
.driver-row__item--third{
  width: 20px;
  padding-right: 10px;
}
.driver-ranking{
  text-align: center;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  color: #000;
  display: block;
  width: 54px;
  height: 54px;
  position: absolute;
  left: -25px;
  top: 85px;
  background-color: #fff;
  line-height: 54px;
}

@media screen and (min-width: 500px) {
  .driver-ranking{
    left: -65px;
    top: auto;
  }
}

.driver-points-wrap{
  margin: 5px;
}
.driver-points-label, .driver-points{
  display: block;
  text-align: left;
  color: rgba(0, 0, 0, .6);
}
.driver-points-label{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, .3);
}
.driver-points{
  font-size: 18px;
  font-weight: 500;
}
.driver-photo{
  border-radius: 4px;
}

.driver-flag{
  width: 35px;
}

@media screen and (min-width: 500px) {
  .driver-flag{
    width: auto;
  }
}

@media screen and (min-width: 600px) {
  .driver-details{
    margin-left: -30px;
  }
}

.driver-nationality{
  display: inherit;
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .driver-nationality{
    font-size: 12px;
  }
}

.driver-surname, .driver-name{
  font-size: 15px;
}

.driver-team, .driver-team-points{
  font-size: 12px;
}

@media screen and (min-width: 855px) {
  .driver-surname, .driver-name{
    font-size: 18px;
  }
  .driver-team, .driver-team-points{
    font-size: 14px;
  }
}


.driver-races-data{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.driver-races-data__item{
  display: inline-block;
  padding: 0px 20px 0px;
  margin-right: 1px;
  text-align: left;
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
}

@media screen and (min-width: 600px) {
  .driver-races-data{
    text-align: right;
  }

  .driver-races-data__item{
    border-left: 2px solid rgba(151, 151, 151, .12);
    padding: 10px 20px 5px;
  }
}


.races-data-label{
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, .3);
}

.race-data-figure--tiny{
  font-size: 11px;
}

[draggable=true] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

footer{
  text-align: center;
  font-weight: 300;

}

footer a{
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
